*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(45deg,#ffffff,#eb799f);
    background-attachment: fixed;
}
section{
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 80px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
}
section .ImageBox{
    position: relative;
    width: 50%;
    height: 100%;
}
section .ImageBox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
section .ImageBox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .ContentBox{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
section .ContentBox .FormBox{
    padding: 40px;
    border-radius: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.25),0 2px 10px 0 rgba(0,0,0,0.25);
    background: rgb(255 255 255 /60%);
    width: 50%;
}
section .ContentBox .FormBox h2{
    color: gray;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #e91e63;
    letter-spacing: 1px;
}
section .ContentBox .FormBox .FormInputBox{
    margin-bottom: 20px;
}
section .ContentBox .FormBox .FormInputBox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: dimgrey;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .ContentBox .FormBox .FormInputBox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid darkslategrey;
    font-size: 16px;
    letter-spacing: 1px;
    color: dimgray;
    background: transparent;
    border-radius: 30px;
}
section .ContentBox .FormBox .FormInputBox input[type="submit"]{
    background: #ff458f;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .ContentBox .FormBox .FormInputBox input[type="submit"]:hover{
    background: #f5307f;
}
section .ContentBox .FormBox .FormInputBox p{
    color: darkslategrey;
}
section .ContentBox .FormBox .FormInputBox p a{
    color: #ff458f;
}
section .ContentBox .FormBox .FormInputBox p a:hover{
    color: #f5307f;
}
@media screen and (max-width:1000px) {
    section .ContentBox .FormBox{
        width: 70%;
    }
}
@media screen and (max-width:768px) {
    section .ImageBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    section .ContentBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    section .ContentBox .FormBox {
        box-shadow:0 2px 5px 0 rgba(0,0,0,0.25),0 2px 10px 0 rgba(0,0,0,0.25);
        border-radius: 10px;
        width: 100%;
        background: rgb(255 255 255 /90%);
        padding: 40px;
        margin: 40px;
    }
}