*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(45deg,#ffffff,#eb799f);
    background-attachment: fixed;
}
.FormBox{
    padding: 40px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.25),0 2px 10px 0 rgba(0,0,0,0.25);
    background: rgb(255 255 255 /60%);
    width: 95%;
}
.FormBox h2{
    color: gray;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #e91e63;
    letter-spacing: 1px;
}
.FormBox .FormInputBox, .FormInputRadioBox{
    margin-bottom: 20px;
}
.FormBox .FormInputBox input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid darkslategrey;
    font-size: 16px;
    letter-spacing: 1px;
    color: dimgray;
    background: transparent;
    border-radius: 30px;
}
.FormBox .FormInputBox input[type="submit"]{
    background: #ff458f;
    width: 80%;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 0px auto;
}
.FormBox .FormInputBox input[type="submit"]:hover{
    background: #f5307f;
}
.FormBox .FormInputBox input[type="reset"]{
    background: #34c494;
    width: 80%;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    display: block;
    margin: 0px auto;
}
.FormBox .FormInputBox input[type="reset"]:hover{
    background: #2a9c76;
}
.FormBox .FormInputBox textarea{
    width: 100%;
    resize: none;
}
.LinkBox a{
    margin: 1em;
    background-color: white;
    color: black;
    border: 2px solid #f5307f;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1em;
}
.LinkBox a:hover{
    color: white;
    background-color: #f5307f;
}
.OutputBox{
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1%;
    float: left;
    width: 95%;
    border-radius: 10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.25),0 2px 10px 0 rgba(0,0,0,0.25);
    background: rgb(255 255 255 /60%);
}
@media screen and (min-width:768px){
    .FormBox{
        width: 80%;
    }
    .FormBox .FormInputBox input[type = "submit"]{
        width: 50%;
    }
    .FormBox .FormInputBox input[type = "reset"]{
        width: 50%;
    }
    .LinkBox{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .OutputBox{
        width: 48%;
    }
}